.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 5px;
    }
}
.disable {
    pointer-events: none;
    opacity: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional - if you want to remove the default margin */
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
